.section-title {
  font-size: 1.5rem;
  position: relative;
}
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
.feed-container {
  width: 100%;
  overflow-y: scroll;
}

.dashboard-headmenu,
.dashboard-footer {
  width: 100%;
  text-align: center;
}

.dashboard-headmenu {
  padding: 0 2rem;
  justify-content: center;
}

.dashboard-headmenu h1 {
  /* margin: 0; */
  /* text-align: left; */
  font-size: 2rem;
  font-weight: 300;

  /* margin-right: 3.5rem; */
}

.dashboard-sidebar {
  min-width: 8rem;
  justify-content: space-between;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}
.dashboard-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dashboard-sidebar ul li {
  margin-bottom: 0.3rem;
}

.dashboard-mainform {
  flex: 1;
}
.section-title h2,
.section-title h1,
.section-title h3 {
  position: relative;
}

.no-heading-margin h1,
.no-heading-margin h2,
.no-heading-margin h3,
.no-heading-margin h4,
.no-heading-margin h5,
.no-heading-margin p,
.no-heading-margin h6 {
  margin: 0;
  padding: 0;
}

.containoverflow {
  overflow: hidden;
}

.new-page-placeholder {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-page-placeholder.has-sidebar {
  width: calc(100vw - 16rem);
}

a.active {
  font-weight: bold;
}

.add-element-button {
  height: 2rem;
  width: 1.5rem;
  position: relative;
  transition: all 0.2s ease;
  align-items: center;
}
.add-element-button.open {
  width: 8rem;
}
.add-element-button input {
  border: none;
  height: 2rem;
  outline: none;
  background-color: #eee;
  padding: 0.3rem;
}
.add-element-button-dropdown.open > .add-element-button-plus,
.add-element-button.open > .add-element-button-plus {
  left: 8rem;
  transform: rotate(45deg);
}
.add-element-button-plus {
  left: 0;
  cursor: pointer;
  width: 1.5rem !important;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* position: absolute; */
  transition: all 0.2s ease;
}
.add-element-button-dropdown:not(.open) > .add-element-button-plus,
.add-element-button:not(.open) > .add-element-button-plus {
  opacity: 0.4;
}
.add-element-button-dropdown:not(.open) > .add-element-button-plus:hover,
.add-element-button:not(.open) > .add-element-button-plus:hover {
  opacity: 1;
}

.remove-element-button-cross {
  cursor: pointer;
  width: 1.5rem !important;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease;
  opacity: 0.4;
  transform: rotate(45deg);
}
.remove-element-button-cross:hover {
  opacity: 1;
}

.align-item-center {
  align-items: center;
}

.draggable-container {
  /* position: relative; */
  transition: all 0.2s ease;
  background-color: transparent;
  border: dashed 0px #ddd;
}

.draggable-container.dragging {
  padding: 0.3rem !important;
  border-radius: 0.2rem;
  border: dashed 0.1rem #ddd;
}

.draggable-item {
  min-height: 1.5rem;
}

.add-element-button-dropdown {
  height: 1.5rem;
  margin: 0.3rem 0;
  /* position: relative; */
  transition: all 0.2s ease;
  /* align-items: center; */
  /* display: block; */
}
.add-element-button-dropdown.open {
  background-color: #ddd;
}

.add-element-button-dropdown-container {
  /* border: solid 1px #ddd; */
  /* position: absolute; */
  padding: 0.3rem;
  /* width: 100%; */
  /* max-height: 20rem; */
  /* overflow: scroll; */
  top: 0;
  /* padding: 0.3rem; */
  display: flex;
}

.add-element-button-dropdown-container ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.add-element-button-dropdown-container ul li {
  background-color: #ddd;
  margin-right: 0.15rem;
  padding: 0.3rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.2s ease;
}
.add-element-button-dropdown-container ul li:hover {
  background-color: #eee;
}

.add-element-button-dropdown-container ul li:last-of-type {
  margin-right: 0;
}

.switch-wrapper > div {
  width: 100%;
}
